grant codeBase "file:/var/lib/tomcat5.5/webapps/OnlineFrontlines/-" {
        permission java.util.PropertyPermission "*", "read";

        permission java.io.FilePermission "/var/lib/tomcat5.5/webapps/uploaded_images/-", "read,write,delete";

        permission java.net.SocketPermission "localhost:3306", "connect,resolve";
        permission java.net.SocketPermission "play.onlinefrontlines.com:80", "connect,resolve";
        permission java.net.SocketPermission "customer-smtp.one.com:2525", "connect,resolve";
	permission java.net.SocketPermission "www.facebook.com:80", "connect,resolve";
	permission java.net.SocketPermission "graph.facebook.com:443", "connect,resolve";

        permission java.lang.RuntimePermission "accessClassInPackage.org.apache.coyote";
        permission java.lang.RuntimePermission "accessClassInPackage.org.apache.catalina.core";
};
